@font-face {
  font-family: 'partybusiness';
  src: url('Polices/partybusiness/partybusiness.ttf') format("truetype");
}

@font-face {
  font-family: 'aniron';
  src: url('Polices/aniron/anicb.ttf') format("truetype"),;
  src: url('Polices/aniron/anicm.ttf') format("truetype"),;
  src: url('Polices/aniron/anirb.ttf') format("truetype"),;
  src: url('Polices/aniron/anirm.ttf') format("truetype");
}


h2 {
  font-family: aniron;
}

p {
  font-family: partybusiness;
}

.image-ronde {
  border-radius: 50%;
}

.contact-us {
  justify-content: space-between;
}

.contact-carte {
  width: 90%;
  height: 90%;
}

.fond-gris {
  background-image: url("https://i.postimg.cc/qMNCMdyL/bg-light.png");
}

.fond-noir {
  background-image: url("https://i.postimg.cc/GmWMjCk3/bg-dark.png");
}

.contact-carte {
  display: flex;
}

.fond-orange {
  background-color: orange;
}

.montableau{
  text-align: center;
}

.basdepage{
  background-color: orange;
}

.besthunters{
  justify-content: space-around;
}

.boutoncontact{
  text-align: center;
}

.row.gandalfflex{
  justify-content: space-around;
  align-items: : center;
}

.pillsfellows {
  justify-content: center;
}

.fellowsintervalle{
  font-size: 15px;
}

/*image Gandalf*/
.gandalfimage .reward {
  width:250px;
  height:90px;
  position: absolute;
  top : 2.5%;
  left:6%;
  font-size: 25px;
  background-color: white;
  opacity : 0.8;
  border-radius : 10px;
  text-align:center;
}

.gandalfimage .coins {
  color : orange;
}

.gandalfimage {
  opacity:0.7;
}

.gandalfimage .gandalf {
  width:250px;
  height:90px;
  position: absolute;
  top: 25%;
  left:6%;
  font-size: 60px;
  color:white;
  text-align:center;
}

.gandalfimage:hover{
  opacity:1;
}

.gandalfimage:hover .reward{
  display:none;
}

.gandalfimage:hover .gandalf{
    width:250px;
    height:90px;
    position: absolute;
    font-size: 40px;
    color:white;
    top: 48%;
    left: 8%;  
}

/*image Gandalf fin*/

/*image Hobbit*/
.hobbitimage .reward {
  width:250px;
  height:90px;
  position: absolute;
  top : 2.5%;
  left:6%;
  font-size: 25px;
  background-color: white;
  opacity : 0.8;
  border-radius : 10px;
  text-align:center;
}

.hobbitimage .coins {
  color : orange;
}

.hobbitimage {
  opacity:0.7;
}

.hobbitimage .hobbit {
  width:250px;
  height:90px;
  position: absolute;
  top: 25%;
  left:6%;
  font-size: 60px;
  color:white;
  text-align:center;
}

.hobbitimage:hover{
  opacity:1;
}

.hobbitimage:hover .reward{
  display:none;
}

.hobbitimage:hover .hobbit{
    width:250px;
    height:90px;
    position: absolute;
    font-size: 40px;
    color:white;
    top: 48%;
    left: 8%;  
}
/*image Hobbit fin*/

/*image Dwarf*/
.dwarfimage .reward {
  width:250px;
  height:90px;
  position: absolute;
  top : 2.5%;
  left:6%;
  font-size: 25px;
  background-color: white;
  opacity : 0.8;
  border-radius : 10px;
  text-align:center;
}

.dwarfimage .coins {
  color : orange;
}

.dwarfimage {
  opacity:0.7;
}

.dwarfimage .dwarf {
  width:250px;
  height:90px;
  position: absolute;
  top: 25%;
  left:6%;
  font-size: 60px;
  color:white;
  text-align:center;
}

.dwarfimage:hover{
  opacity:1;
}

.dwarfimage:hover .reward{
  display:none;
}

.dwarfimage:hover .dwarf{
    width:250px;
    height:90px;
    position: absolute;
    font-size: 40px;
    color:white;
    top: 48%;
    left: 8%;  
}
/*image Dwarf fin*/