.menu-droite {
  display: flex;
  justify-content: flex-end;
  line-height: 3px;
}

.marge-div {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}

.active {
  border-bottom: 3px solid white;
}

.barre-blanche {
  margin-top: 8px;
  margin-left: 5px;
  color: white;
}

a {
  font-family: aniron;
}

.basdepage{
  background-color: #FF4500;
  color: white;
  font-family: partybusiness;
  font-size: 30px;
  margin: 0px;
}

.fond-orange {
  background-color: #FF4500;
  color: white;
  font-family: aniron;
}

.text {
  font-family: aniron;
  font-size: 30px;
}

@font-face {
  font-family: 'aniron';
  src: url('Polices/aniron/anicb___.ttf') format("truetype"),;
  src: url('Polices/aniron/anicm___.ttf') format("truetype"),;
  src: url('Polices/aniron/anirb___.ttf') format("truetype"),;
  src: url('Polices/aniron/anirm___.ttf') format("truetype");
}